body {
    font-family: 'Montserrat';
}

:root{
    --brand: rgb(0,29,80)
}

p{
    margin-bottom: 0 !important;
}

img{
    width: 100% !important;
}

.navbar{ 
    background-color: var(--brand);
}

table{
    max-width: 100vw;
}

thead:first-child{
    background-color: var(--brand) !important;
}

.add_btn{
    color: var(--brand);
    width: fit-content;
    padding: 8px 24px;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    transition: all 300ms ease-out;
}

.add_btn:hover{
    background-color: var(--brand);
    color: white;
    transform: scale(1.05);
}

.logo{
    width: calc(100px + 4vw)  !important;
}

.custom_disabled{
    background-color: rgba(128, 128, 128, 0.622);
    border: solid rgba(128, 128, 128, 0.61) 1px;
    /* opacity: 0.7; */
    cursor:not-allowed;
    position: relative;
    
}

.custom_disabled:hover{
    background-color: gray;
    border: solid gray 1px;
}

.custom_disabled:active{
    background-color: gray !important;
    border: solid gray 1px !important;
}

.custom_disabled_txt{
    opacity: .5;
}

.custom_disabled:hover::after, 
.custom_disabled:active::after{
    content: 'Add at least 1 area before adding a Lift';
    display: block;
    position: absolute;
    height: 50px;
    padding: 5px 10px 5px 75px;
    background-color: rgba(0, 0, 0, 0.806);
    color: white;
    right: -180px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
    clip-path: polygon(30% 0, 100% 0%, 100% 100%, 30% 100%, 30% 61%, 14% 50%, 30% 38%);
}

.toolbar a{
    color: currentColor !important;
}


.toolbar{
    padding: 20px 10px;
    background-color: rgb(118, 141, 146);
    color: white !important;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: fixed;
    bottom: 0;
    right: 5%;
    animation: slidein 500ms ease-in-out ;
}

@keyframes slidein {
    from{
        transform: translateY(100px);
    }
    to{
        transform: translateY(0px);
    }
}