{% extends 'base.html'%}
{%block page_title%}Voxpop - Stations{%endblock%}

{%block content%}


<div class="row justify-content-between py-4">
    <div class="col d-flex align-items-center">
        <h4 class="fw-bold">{{station}}</h4>
    </div>
    <div class="col d-flex justify-content-end align-items-center">
        <a class="add_btn shadow-sm" href="{% url 'station_edit' id=station.pk %}">
            <i class="fa-solid fa-pencil"></i> 
            <p>Edit</p>
        </a>
    </div>
</div>

{% for location_group in locations %}

<div class="mb-5">
    <div class="d-flex align-items-center btn_add">
        <a class="btn btn-success me-3 mb-1" href="{% url 'station_add_child' parent=station.pk %}?loc_type={{location_group.type}}">
            <i class="fa-solid fa-plus"></i>
        </a>
        <h4>{{location_group.name}}</h4>
    </div>
    {% if location_group.items %}
    <table class="table table-striped">
        <thead class="text-light">
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in location_group.items %}
            <tr>
                <td>
                    {{item.code}}
                </td>
                <td>
                    <a href="{% url 'station_detail' item.pk %}">{{ item }}</a>
                </td>
                <td>
                    <a class="btn btn-outline-primary me-1" href="{% url 'station_edit' item.pk %}">
                        <i class="fa-solid fa-pencil"></i>
                    <a class="btn btn-primary me-1" href="{% url 'station_detail' item.pk %}">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endfor %}


<!-- lifts list -->
{% if station.location_type == 1 %}
<!-- <div class="mb-5">
    <div>
        <a class="btn btn-primary mb-1" href="{% url 'lift_add' station.pk %}">
            <i class="fa-solid fa-plus"></i>
        </a>
        <h4 class="d-inline-block">Lifts</h4>
    </div>
{% endif %}
    {%if station.lifts.all %}
    <table class="table table-striped">
        <thead class="text-light">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Type
                </th>
                <th>
                    From
                </th>
                <th>
                    To
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        {% for lift in station.lifts.all %}
        <tr>
            <td>
                <a href="{% url 'lift_detail' lift.id %}">
                    {{lift}}
                </a>
            </td>
            <td>
                {{lift.type}} - 
                {{lift.get_type_display}}
            <td>
                {{lift.from_areas}}
            </td>
            <td>
                {{lift.to_areas}}
            </td>
            <td>
                <a class="btn btn-outline-primary" href="{% url 'lift_edit' lift.pk %}">
                    <i class="fa-solid fa-pencil"></i>
                </a>
                <a class="btn btn-primary" href="{% url 'lift_detail' lift.pk %}">
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {%endif%}
</div> -->

{% for lift_group in lift_list %}

  <h4>
    {{lift_group.name}}
  </h4>

{% endfor %}
{%endblock content%}
