{% extends 'base.html'%}
{%block page_title%}Voxpop - Stations{%endblock%}

{%block content%}

{{station.paths.all}}
<!-- header: title and edit button -->

<div class="row justify-content-between py-4">
    <div class="col d-flex align-items-center">
        <h4 class="fw-bold fs-2">{{station}}</h4>

        {% if station.location_type == 1 %}
        <div class="d-flex py-3">
            {% for line in station.lines.all %}
            <a href="{% url 'lines' %}">

                <div class="mx-2">
                    {% if line.color %}
                    <div style="background-color: {{line.color}};" class="line_badge rounded-circle">
                        <p>M</p>
                    </div>
                    {% else %}
                    <p>Line {{ line }}</p>
                    {% endif %}
                </div>
            </a>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="col d-flex justify-content-end align-items-center">
        <a class="add_btn shadow-sm" href="{% url 'station_edit' id=station.pk %}">
            <i class="fa-solid fa-pencil"></i>
            <p>Edit</p>
        </a>
    </div>
</div>


<!-- main nodes list -->

<div class="mb-5 lists-wrapper ">
    {% for location_group in locations %}

    <div class="location_wrapper flex_item shadow px-4">

        <div class="d-flex align-items-center btn_add">
            <a class="second-btn "
                href="{% url 'station_add_child' parent=station.pk %}?loc_type={{location_group.type}}">
                <i class="fa-solid fa-plus"></i>
            </a>
            <h4>{{location_group.name}}</h4>
        </div>
        {% if location_group.items %}
        <ul class="titles">
            <li>Name</li>
            <li>Level</li>
            <li>Action</li>
        </ul>
        <ul class="children_list">
            {% for location in location_group.items %}
            <li>
                <a
                    href="{% if location.location_type == 0 %} {% url 'station_detail' location.pk %} {% else %} # {% endif %}">
                    <p>{{location.name}}</p>
                </a>
                <p>{{location.level}}</p>
                <div class="d-flex align-items-center">
                    <a href="{% url 'station_edit' location.pk %}"><i
                            class="fa-solid fa-pencil second-btn-reverse"></i></a>
                    {% if location.location_type == 0 %}
                    <a href="{% url 'station_detail' location.pk %}">
                        <i class="fa-solid fa-arrow-up-right-from-square second-btn-reverse ms-2"></i>
                    </a>
                    {% endif %}
                </div>
            </li>
            {% endfor %}

            {% if location_group.type == 5 %}
            <div class="d-flex align-items-center pt-4">
                <a href="{% url 'ramp_add' station.pk %}">
                    <div class="second-btn">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </a>
                    <h5 class="pb-0 mt-2">
                        Same level paths
                    </h5>
            </div>
            <ul class="titles">
                <li>From</li>
                <li>To</li>
                <li>Actions</li>
            </ul>
            <ul class="children_list">
                {% for path in station.ramps.all %}
                <li>
                    <p>{{path.from_area}}</p>
                    <p>{{path.to_area}}</p>
                    <a href="{% url 'ramp_edit' path.pk %}">
                        <i class="fa-solid fa-pencil"></i>
                    </a>
                </li>
                {% endfor %}
            </ul>
            {%endif%}
        </ul>
        {% endif %}
    </div>

    {% endfor %}
</div>



<!-- lifts list 
visibile solo se il modello è di tipo "Station"-->

<div class="mb-5 lists-wrapper">
    {% for lift_group in lift_list %}


    <div class="location_wrapper shadow px-4">

        <div class="d-flex align-items-center btn_add">
            <a class="lift_btn{% if not areas %} custom_disabled {% else %} third-btn  {% endif %}"
                href="{% url 'lift_add' station.pk %}?type={{lift_group.type}}">
                <i class="fa-solid fa-plus"></i>
            </a>
            <h4>{{lift_group.name}}</h4>
        </div>
        {% if lift_group.items %}
        <ul class="titles titles-lift">
            <li>Name</li>
            <li>From</li>
            <li>To</li>
            <li>Actions</li>
        </ul>
        <ul class="children_list">
            {% for lift in lift_group.items %}
            <li>
                <a
                    href="{% if location.location_type == 0 %} {% url 'station_detail' location.pk %} {% else %} # {% endif %}">
                    <p>{{lift.name}}</p>
                </a>
                <p>{{lift.from_areas}}</p>
                <p>{{lift.to_areas}}</p>
                <div class="d-flex align-items-center">
                    <a href="{% url 'lift_edit' lift.pk %}"><i class="fa-solid fa-pencil second-btn-reverse"></i></a>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>


    {% endfor %}
</div>


<!-- platfrom info 
visibili solo se il modello è di tipo "Platform"-->
{% if station.location_type == 0 %}
<div class="d-flex align-items-center mb-1 me-2">


    <h4 class="d-inline-block fw-bold fs-3">
        Platform info
    </h4>
    {%if station.services%}
    <a class="btn bg-primary ms-3 mb-2 ms-auto" href="{% url 'services_edit' station.services.platform_id.pk %}">
        <i class="fa-solid fa-pencil text-light"></i>
        <p class="text-light d-none d-sm-inline-block ms-1">Edit</p>
    </a>
    {%endif%}
</div>
{% endif %}

{%if station.services%}

<!-- alerts and additional platform info -->
<div class="card shadow border-0 mb-4">
    <div class="card-body">
        <h4 class="cart-title">
            Level Access Info
        </h4>
        <div
            class="col alert border-0 {% if station.services.designated_level_acces_point %} alert-success {%else%} alert-danger {% endif %}">
            <p>
                {% if station.services.designated_level_acces_point %}
                <i class="fa-solid fa-check me-1"></i>This platform has a designed level access point
                {%else%}
                <i class="fa-solid fa-x me-1"></i>This platform hasn't a designed level access point
                {% endif %}
            </p>
        </div>
        <div
            class="col alert border-0 {% if station.services.designated_level_acces_point %} alert-success {%else%} alert-danger {% endif %}">
            <p>
                {% if station.services.level_access_by_manual_ramp %}
                <i class="fa-solid fa-check me-1"></i>This platform has a level access by manual ramp
                {%else%}
                <i class="fa-solid fa-x me-1"></i>This platform hasn't a level access by manual ramp
                {% endif %}
            </p>
        </div>
        <div class="col border-0 {% if station.services.location_of_level_access %} alert alert-primary {% endif %} ">
            {% if station.services.location_of_level_access %}
            <i class="fa-solid fa-location-dot me-1"></i>
            {{station.services.location_of_level_access}}
            {% endif %}
        </div>
    </div>
</div>

<!-- platform services tables -->
<div class="row flex-column flex-sm-row flex-wrap g-0">
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr class="text-light text-center">
                    <th class="border-end border-white" colspan="3">Gaps</th>
                </tr>
                <tr class="bg-white">
                    <th>Min</th>
                    <th>Max</th>
                    <th>Avg</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{station.services.min_gap|default:"Not given"}}</td>
                    <td>{{station.services.max_gap|default:"Not given"}}</td>
                    <td>{{station.services.avarage_gap|default:"Not given"}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr class="text-light text-center">
                    <th class="border-end border-white" colspan="3">Steps</th>
                </tr>
                <tr class="bg-white">
                    <th>Min</th>
                    <th>Max</th>
                    <th>Avg</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{station.services.min_step|default:"Not given"}}</td>
                    <td>{{station.services.max_step|default:"Not given"}}</td>
                    <td>{{station.services.avarage_step|default:"Not given"}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- additional notes -->

{% if station.services.additional_accessibility_info %}
<div class="card border-0 shadow mb-3">
    <div class="card-body">
        <p class="card-title fw-bold">Additional notes</p>
        <p class="">
            {{station.services.additional_accessibility_info}}
        </p>
    </div>
</div>
{% endif %}

{% elif not station.services and station.location_type == 0 %}
<p class="d-inline-block">No info provided</p> <a class="badge bg-primary"
    href="{% url 'services_add' station.pk %}">Add</a>
{% endif %}

{%endblock content%}