{% extends 'base.html'%}
{%block page_title%}Voxpop - Stations{%endblock%}

{%block content%}

<!-- header: title and edit button -->

<div class="row justify-content-between py-4">
    <div class="col d-flex align-items-center">
        <h4 class="fw-bold fs-2">{{station}}</h4>
    </div>
    <div class="col d-flex justify-content-end align-items-center">
        <a class="add_btn shadow-sm" href="{% url 'station_edit' id=station.pk %}">
            <i class="fa-solid fa-pencil"></i>
            <p>Edit</p>
        </a>
    </div>
</div>

<!-- main nodes list -->

<div class="mb-5 lists-wrapper">
    {% for location_group in locations %}

    <div class="location_wrapper shadow">

        <div class="d-flex align-items-center btn_add">
            <a class="second-btn "
                href="{% url 'station_add_child' parent=station.pk %}?loc_type={{location_group.type}}">
                <i class="fa-solid fa-plus"></i>
            </a>
            <h4>{{location_group.name}}</h4>
        </div>
        {% if location_group.items %}
        <table class="table table-striped  mb-4">
            <thead class="text-light">
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in location_group.items %}
                <tr>
                    <td>
                        {{item.code}}
                    </td>
                    <td>
                        <a href="{% url 'station_detail' item.pk %}">{{ item }}</a>
                    </td>
                    <td>
                        <a class="btn btn-outline-primary me-1" href="{% url 'station_edit' item.pk %}">
                            <i class="fa-solid fa-pencil"></i>
                            <a class="btn d-none d-md-inline-block btn-primary me-1"
                                href="{% url 'station_detail' item.pk %}">
                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                            </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>


    {% endfor %}
</div>


<!-- lifts list 
visibile solo se il modello è di tipo "Station"-->
{% if station.location_type == 1 %}
<h5 class="w-25 border-bottom border-secondary mb-3"> Lifts </h5>
{% endif %}
{% for lift_group in lift_list %}
<div class="d-flex align-items-center ">
    <a class="lift_btn btn btn-primary me-2 mb-1 {% if not areas %} custom_disabled {%endif%} "
        href="{% url 'lift_add' station.pk %}?type={{lift_group.type}}">
        <i class="fa-solid fa-plus"></i>
    </a>
    <h4 class="{% if not areas %} custom_disabled_txt {%endif%}">
        {{lift_group.name}}
    </h4>
</div>

{% if lift_group.items %}
<table class="table table-striped mb-4">
    <thead class="text-light">
        <tr>
            <th>Name</th>
            <th>From</th>
            <th>To</th>
            <th>Actions</th>
        </tr>
    </thead>
    {% for lift in lift_group.items %}
    <tr>
        <td>
            {{lift}}
        </td>
        <td>
            {{lift.from_areas}}
        </td>
        <td>
            {{lift.to_areas}}
        </td>
        <td>
            <a href="{% url 'lift_edit' lift.pk %}" class="btn btn-outline-primary">
                <div class="fa-solid fa-pencil"></div>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endfor %}

<!-- platfrom info 
visibili solo se il modello è di tipo "Platform"-->
{% if station.location_type == 0 %}
<div class="d-flex align-items-center mb-1 me-2">


    <h4 class="d-inline-block fw-bold fs-3">
        Platform info
    </h4>
    {%if station.services%}
    <a class="btn bg-primary ms-3 mb-2 ms-auto" href="{% url 'services_edit' station.services.platform_id.pk %}">
        <i class="fa-solid fa-pencil text-light"></i>
        <p class="text-light d-none d-sm-inline-block ms-1">Edit</p>
    </a>
    {%endif%}
</div>
{% endif %}

{%if station.services%}

<!-- alerts and additional platform info -->
<div class="card shadow border-0 mb-4">
    <div class="card-body">
        <h4 class="cart-title">
            Level Access Info
        </h4>
        <div
            class="col alert border-0 {% if station.services.designated_level_acces_point %} alert-success {%else%} alert-danger {% endif %}">
            <p>
                {% if station.services.designated_level_acces_point %}
                <i class="fa-solid fa-check me-1"></i>This platform has a designed level access point
                {%else%}
                <i class="fa-solid fa-x me-1"></i>This platform hasn't a designed level access point
                {% endif %}
            </p>
        </div>
        <div
            class="col alert border-0 {% if station.services.designated_level_acces_point %} alert-success {%else%} alert-danger {% endif %}">
            <p>
                {% if station.services.level_access_by_manual_ramp %}
                <i class="fa-solid fa-check me-1"></i>This platform has a level access by manual ramp
                {%else%}
                <i class="fa-solid fa-x me-1"></i>This platform hasn't a level access by manual ramp
                {% endif %}
            </p>
        </div>
        <div class="col border-0 {% if station.services.location_of_level_access %} alert alert-primary {% endif %} ">
            {% if station.services.location_of_level_access %}
            <i class="fa-solid fa-location-dot me-1"></i>
            {{station.services.location_of_level_access}}
            {% endif %}
        </div>
    </div>
</div>

<!-- platform services tables -->
<div class="row flex-column flex-sm-row flex-wrap g-0">
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr class="text-light text-center">
                    <th class="border-end border-white" colspan="3">Gaps</th>
                </tr>
                <tr class="bg-white">
                    <th>Min</th>
                    <th>Max</th>
                    <th>Avg</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{station.services.min_gap|default:"Not given"}}</td>
                    <td>{{station.services.max_gap|default:"Not given"}}</td>
                    <td>{{station.services.avarage_gap|default:"Not given"}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr class="text-light text-center">
                    <th class="border-end border-white" colspan="3">Steps</th>
                </tr>
                <tr class="bg-white">
                    <th>Min</th>
                    <th>Max</th>
                    <th>Avg</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{station.services.min_step|default:"Not given"}}</td>
                    <td>{{station.services.max_step|default:"Not given"}}</td>
                    <td>{{station.services.avarage_step|default:"Not given"}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- additional notes -->

{% if station.services.additional_accessibility_info %}
<div class="card border-0 shadow mb-3">
    <div class="card-body">
        <p class="card-title fw-bold">Additional notes</p>
        <p class="">
            {{station.services.additional_accessibility_info}}
        </p>
    </div>
</div>
{% endif %}

{% elif not station.services and station.location_type == 0 %}
<p class="d-inline-block">No info provided</p> <a class="badge bg-primary"
    href="{% url 'services_add' station.pk %}">Add</a>
{% endif %}

{%endblock content%}