{% extends 'base.html'%}
{% load crispy_forms_tags %}
{%block page_title%}Lisbona - Stations{%endblock%}

{%block content%}
<p id="coords"></p>

{%if station.pk%}
<h4 class="py-4">Edit <strong>{{station}}</strong></h4>
{%else%}
<h4 class="pt-3">Create a new {{station.get_location_type_display}}</h4>
{%endif%}

<div class="toolbar d-flex justify-content-center">
    {% if station.parent_station %}
    <a href="{% url 'station_detail' station.parent_station.pk %}">
        Cancel
    </a>
    {% elif station.pk %}
    <a href="{% url 'station_detail' station.pk %}">
        Cancel
    </a>
    {% else %}
    <a href="{% url 'home' %}">
        Cancel
    </a>
    {%endif%}
</div>


<div class="pt-4">
    {{form.errors}}
    {% crispy form %}
</div>

<script>
let lat = ''
    lon = ''
    accuracy = ''
    container = document.getElementById('coords')

    function success(pos) {
        const {coords} = pos

        const crd = {
            lat: coords.latitude,
            lon: coords.longitude,
            accuracy: coords.accuracy
        }

        for (const key in crd) {
            container.append(`${key}: ${crd[key]} `)
        }

    }

    function error(err) {
        console.warn(err);
    }

    navigator.geolocation.getCurrentPosition(success, error);
</script>

{%endblock content%}