{% extends 'base.html'%}
{%block page_title%}Lisbona - Stations{%endblock%}

{%block content%}

<div class="d-flex justify-content-between py-4">
    <h1>Stations</h1>
    <div class="text-end">
        {% if request.user.is_authenticated %}
        <a class="add_btn shadow-sm me-2" href="{% url 'station_add' %}?loc_type=1">
            <i class="fa-solid fa-plus"></i>
            Add Station
        </a>
        <a class="add_btn shadow-sm" href="{% url 'line_add' %}">
            <i class="fa-solid fa-plus"></i>
            Add Line
        </a>
        {% endif %}
        <a class="add_btn_reverse shadow-sm" href="{% url 'download' %}">
            <i class="fa-solid fa-file-arrow-down"></i>
        </a>
    </div>
</div>

{% if stations %}
<table class="table table-striped">
    <thead>
        <tr class="text-light">
            <th>
                Code
            </th>
            <th>
                Name
            </th>
            <th class="text-center">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>

        {% for station in stations %}
        <tr>
            <td>
                {{station.code}}
            </td>
            <td>
                <a href="{% url 'station_detail' station.pk %}">{{station}}</a>
                {% if station.children.count %}
                <span class="badge bg-success ms-1">{{station.children.count}}</span>
                {% endif %}
            </td>
            </td>
            <td class="d-flex justify-content-center">
                {% if request.user.is_authenticated %}
                <a class="me-md-2" href="{% url 'station_edit' station.pk %}">
                    <button class="btn btn-outline-primary">
                        <i class="fa-solid fa-pencil"></i>
                    </button>
                </a>
                {% endif %}
                <a class="btn btn-primary d-none d-md-inline" href="{% url 'station_detail' station.pk%}">
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
{% endif %}
{% endblock content %}