{% extends 'base.html'%}
{%block page_title%}Lisbona - Stations{%endblock%}

{%block content%}

<div class="row justify-content-between py-4">
    <div class="col">
        <h1>Stations</h1>
    </div>
    <div class="col d-flex justify-content-end align-items-center">
        <a class="add_btn shadow-sm" href="{% url 'station_add' %}?loc_type=1">
            <i class="fa-solid fa-plus"></i>
            <p>Add Station</p>
        </a>
    </div>
</div>


<table class="table table-striped ">
    <thead>
        <tr class="text-light">
            <th>
                Code
            </th>
            <th>
                Name
            </th>
            <th class="d-none d-md-block">Elements</th>
            <th class="text-center">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>

        {% for station in stations %}
        <tr>
            <td>
                {{station.code}}
            </td>
            <td>
                <a href="{% url 'station_detail' station.pk %}">{{station}}</a>
                {% if station.children.count %}
                <span class="badge bg-success d-inline d-md-none">{{station.children.count}}</span>
            </td>
            {% endif %}
            </td>
            <td class="d-none d-md-block">
                {% if station.children.count %}
                <span class="badge bg-success">{{station.children.count}}</span>
                {% endif %}
            </td>
            <td class="d-flex justify-content-center">
                <a href="{% url 'station_edit' station.pk %}">
                    <button class="btn btn-outline-primary">
                        <i class="fa-solid fa-pencil"></i>
                    </button>
                </a>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
{%endblock content%}