{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block page_title %}Voxpop - Station Service{% endblock page_title %}

{% block content %}

<div id="breadcrumbs" class="py-3 bg-light">

        <a href="{% url 'stops_list' city.slug %}">Home</a> ›
        {% for item in platform.ancestors reversed %}
        <a href="{{item.url}}">{{item}}</a> ›
        {% endfor %}
        <a href="{% url 'station_detail' city.slug platform.pk %}">{{platform}}</a> ›
        <strong>Service</strong>
</div>

<h4 class="fw-bold py-4">
    {% if service %}Edit{% else %}Add {% endif %}
    {{platform.name}} service
</h4>

<div class="toolbar d-flex justify-content-center">
    <a href="{% url 'station_detail' city.slug platform.pk %}">
        Cancel
    </a>
    
</div>

<div class="pb-5 bt-4">
    {% crispy form %}
</div>

{% endblock content %}