{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block page_title %}Voxpop - Lines{% endblock page_title %}
{% block content %}

{% crispy form %}

<div class="toolbar d-flex justify-content-center">
    <a href="{% url 'lines' %}">
        Cancel
    </a>
</div>


<script>
const colors = 
[
    '#ff5141',
    '#67eb69',
    '#ffed00',
    '#060bfb'
]

const picker = document.getElementById('picker')
const defaults = document.getElementById('defaults')
const colorTextInput = document.getElementById('id_color')


colors.forEach(c => {
    let box = document.createElement('div')
    box.className = 'box-color'
    box.style.backgroundColor = c
    box.addEventListener('click', function(){
        colorTextInput.value = c
    })
    defaults.append(box)
})

picker.addEventListener('blur', function(){
    console.log(picker.value)
    colorTextInput.value = picker.value
})

</script>

{% endblock content %}