{% extends 'base.html' %}

{% block page_title %}Voxpop - Lines{% endblock page_title %}
{% block content %}

<div id="breadcrumbs" class="py-3 bg-light">
    <div class="container ">
        <fa class="fa-solid fa-chevron-left"></fa>
        <a href="{% url 'home' %}">Home</a>
    </div>
</div>


<div class="container">
    <div class="row justify-content-between py-3">
        <div class="col">
            <h1>Lines</h1>
        </div>
        <div class="col d-flex justify-content-end">
            <a class="add_btn shadow-sm " href="{% url 'line_add' %}">
                <i class="fa-solid fa-plus"></i>
                Add line
            </a>
        </div>
    </div>

    
    <ul class="lines_row">
    {% for line in lines %}
        <li class="line_wrapper shadow">
            <div style="background-color: {{line.color | default:"#d3d3d3"}};" class="color_badge"></div>
            <i class="icon fa-solid fa-chevron-down"></i>
            <a class="w-50" href="{% url 'line_edit' line.pk %}">
                {{line}}
            </a>
            <ul class="d-flex flex-column station_list ">
                {% for station in line.stations.all %}
                <li>
                   {{station}}     
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>

<script>
    const icons = document.querySelectorAll('.icon')
    const stationLists = document.querySelectorAll('.line_wrapper')

    stationLists.forEach(list => {
        console.dir(list s  )
    })
    
</script>

{% endblock content %}